<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="page">
        <div class="content">
            <div class="poke-img">
                <img src="{{ data['picture'] }}" alt="">
                <h1>{{ data["name"] }}</h1>
            </div>
            <div class="data">
                <h1>Data</h1>
                <div class="grid">
                    <h1>Name:</h1>
                    <h1>{{ data["name"] }}</h1>

                    <h1>Type:</h1>
                    <h1>{{ data["type"] }}</h1>

                    <h1>Height:</h1>
                    <h1>{{ data["height"] }}</h1>

                    <h1>Weight:</h1>
                    <h1>{{ data["weight"] }}</h1>

                    <h1>Abilities:</h1>
                    <h1>{{ data["abilities"] }}</h1>

                    <h1>Description:</h1>
                    <h1>{{ data["description"] }}</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
